<h1>Create a Post</h1>

<div class="input-group container">
	<div>
		  <input type="text" class="form-control" placeholder="Title..." aria-describedby="basic-addon1">
		  <input type="text" class="form-control" placeholder="URL..." aria-describedby="basic-addon1">
		  <label for="#fileInput">Upload Your Image</label>
		  <input type="file" id="fileInput" class="form-control" placeholder="Upload Image" aria-describedby="basic-addon1">
			</div>
		  <button type="button" class="btn btn-primary center-block createBtn">Create Post</button>
</div>
