<p>Hello, {{email}}</p>
<button type="button" class="btn btn-info" ng-click="logout()">Sign Out</button>
<h1>Home</h1>

<div class="container">
	<div class="row" ng-repeat="post in posts">
		<article class="card container-fluid">
			<h5>{{post.userEmail}} posted...</h5>
			<h3 class="text-right"><a href="{{post.url}}">{{post.title}}</a></h3>
			<a href="{{post.imgUrl}}"><img class="postImg img-thumbnail" src="{{post.imgUrl}}"></a>
			<span class="counterVote">
				<button ng-click="upvote">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
					</span>
				</button>
				<h5>{{post.counter}}</h5>
				<button ng-click="downVote">
					<span class="glyphicon glyphicon-thumbs-down">
					</span>
				</button>
			</span>
		</article>
	</div>
</div>
