<h1>Login/Register</h1>
<div class="container">
	<div class="input-group center-block userInfo">
	  <input type="text" name="userName" ng-model="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
	  <input type="text" name="password" ng-model="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
	</div>

	<div class="loginButtons">
		<button type="submit" ng-click="login(email, password)" class="btn btn-primary">Sign In</button>
		<button type="submit" ng-click="register(email, password)" class="btn btn-success">Register</button>
	</div>
</div>
