body {
	background: linear-gradient(85deg, #f4bf42, #8e7a4a, #afa793);
	text-align: center;
}

.card {
	background: lightgrey;
	margin-bottom: 10px;
}

nav {
	border-bottom: solid 1px black;
}

.login {
	background-image: url('https://i.ytimg.com/vi/swKFu9WOseE/hqdefault.jpg');
	height: 600px;
	background-size: cover;
}

h1 {
	margin: 25px;
}

.counterVote {
	display: block;
	max-width: 15px;
	margin: auto;
}

.userInfo {
	margin: 25px 0;
	/*max-width: 70%;*/
}

.loginButtons {
	margin-top: 25px;
}

.createBtn {
	margin-top: 5%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card {
	border: solid 1px black;
}

.postImg {
	width: 350px;
	height: 200px;
	display: block;
	margin-left: 0;
}

.counterVote {
	display: block;
	margin-right: 0;
}

/*article > h3 {
	text-align: right;
	
}*/
